:root {
    --red: #e27d60;
    --blue: #85dccb;
    --orange: #e8a87c;
    --purple: #c38d9e;
    --green: #41b3a3;
    --white: #fff;
    --grey: #efefef;
}



body {
    font-family: 'Open Sans', sans-serif;
    background: var(--grey);
    margin: 0;
    display: grid;
    grid-template-rows: 51px 30%;

}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    float: right;
}

ul li {
    display: inline;
}


ul li a {
    color: var(--white);
    padding: 15px;
}

#logo {
    padding: 15px;
    margin-left: 15px;
    background-color: var(--red);
    text-align: center;
    font-weight: bold;
    display: inline-block;

}

header {
    background: var(--blue);
    display: grid;
    grid-template-columns: fit-content(20%) auto;
}

section#hero {
    background: var(--orange);
    padding: 2em;
    border-top: 5px solid var(--grey);
    display: grid;
    height: fit-content;
    grid-template-columns: repeat(2, auto);
}

#content h1 {
    text-transform: uppercase;
    color: var(--white);
}

#content p {
    color: var(--grey);
}

img {
    max-width: 100%;
    background-size: cover;
    margin: 0 auto;
}

#goku_kaiken {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}